<%- include("partials/header") %>
    <%- include("partials/navbar.ejs") %>

        <body>
            <h1>this is my random numer
                <%= randomNum %>
                    <h3>unordered list</h3>
                    <ul>
                        <%for(let item of todos){%>

                            <li>
                                <%= item %>
                            </li>

                            <%}%>

                    </ul>
            </h1>

            <%- include("partials/footer") %>