<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Index Page</h1>
    <h2>All Comments</h2>
    <hr>

    <% for(let i of comments ){%>
        <li>
            <strong> <%= i.username  %> </strong> -
            <%= i.body %> -
                <%= i.id  %>
        </li>
        <a href="/comments/<%= i.id %> ">Show</a>
        <a href="/comments/<%= i.id %>/edit ">Edit</a>

        <form action="/comments/<%= i.id %>?_method=DELETE " method="POST">
            <button>Delete</button>
        </form>
        <%} %>
            <br><br>
            <a href="/comments/new">Add New Comment</a>

</body>

</html>